{% extends "layout.html" %}

{% block title %}
    Question Bank
{% endblock %}

{% block body %}
    <h1>
        SatCat Question Bank
    </h1>

    <div class="bank-layout">
        <h2>Reading and Writing</h2>
        <a href="question/?type=cas" style="text-decoration: none;"><h4>Craft and Structure <span class="badge text-bg-secondary">CHANGE TO INSER LENGTH LATER</span></h3></a>
        <a href="question/?type=eoi" style="text-decoration: none;"><h4>Expression of Ideas <span class="badge text-bg-secondary">CHANGE TO INSER LENGTH LATER</span></h3></a>
        <a href="question/?type=iai" style="text-decoration: none;"><h4>Information and Ideas <span class="badge text-bg-secondary">CHANGE TO INSER LENGTH LATER</span></h3></a>
        <a href="question/?type=sec" style="text-decoration: none;"><h4>Standard English Conventions <span class="badge text-bg-secondary">CHANGE TO INSER LENGTH LATER</span></h3></a>
    </div>
{% endblock %}